.about-container {
  background-color: #000;
  color: #f1c40f;
  padding: 40px;
  text-align: center;
  margin-bottom: 40px;
  
}

.about-text1{
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.about-content {
  max-width: 600px;
  margin: 0 auto;
  
}

.about-header {
  margin-bottom: 2rem;
}

.about-title {
  font-size: 3.6rem;
}

.about-body {
  line-height: 1.6;
}

.about-text {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Batman Theme */
.about-container {
  background-color: #000;
  color: #f1c40f;
}

.about-title {
  color: #f1c40f;
}

.about-text:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.about-text:last-of-type {
  font-style: italic;
}
