.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #000; */
  padding: 40px;
  height: 90vh;
}

h1 {
  font-size: 3.5rem;
  width: 30%;
  color: #f1c40f;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 980px) {
  .container {
    flex-direction: column;
    padding: 5rem 2rem;
    margin: 1rem auto;
  }
  h1 {
    font-size: 3rem;
    width: 70%;
  }
}

.container img {
  height: 40rem;
  width: 40rem;
}
