

.navbar-container {
  background-color: #000;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: #f1c40f;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
}

.menu-icon {
  display: none;
  color: #f1c40f;
  font-size: 24px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  
}

.nav-item {
  margin-left: 20px;
  
  
}

.nav-link {
  color: #f1c40f;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 20px;
}

.nav-link:hover {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 999;
  
  }

  .nav-menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    
    
  }

  .nav-menu.active {
    background: #000;
    right: 0;
    
  }

  .nav-item {
    margin-bottom: 16px;
    
  }
}
